# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ktrouble
cmd/changelog/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Need to disregard this, as it is an artifact produced by pipeline
vRELEASE.md

# some local stuff
TODO.md

